* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('images/galaxy-night-2500.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header { /* error */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 20px 100px; */
    padding: 20px;
    display: flex;
    justify-content: space-between; /* new */
    align-items: center;
    z-index: 99; /* new */
}

.logo {
    font-size: 2em;
    color: #ffffff;
    user-select: none; /* new */
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after { /* new */
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0); /* new*/
    transition: transform .5s;
}

.navigation a:hover::after { /* new */
    transform-origin: left; /* new */
    transform: scaleX(1);
}

.navigation .btn-login {
    width: 130px;
    height: 50px;
    background: rgba(0, 0, 0, 0.432);
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btn-login:hover {
    background: #ffffff;
    color: black;
}

/* Styles to forms */

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    /* border: 2px solid rgba(255, 255, 255, .5); */
    border-radius: 20px;
    backdrop-filter: blur(20px); /*new*/
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none; /* new */
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    /* top: -5px; */
    transform: translateY(-50px);
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0px 35px 0px 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938; /* new */
    margin-right: 3px;
}

.remember-forgot a {
    text-decoration: none;
    color: #162938;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 11px 0 10px;
}

.login-register p a {
    text-decoration: none;
    color: #162938;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;

}

/* assisti ao video ate o minuto 18 */